<mat-toolbar color="primary" class="navbar"> 
  <span class="project-name">Task Manager</span>
  <span class="spacer"></span>
  <button mat-raised-button color="accent" (click)="showForm = true" style="color: black;margin-right: 10px;">
    + Add Task
  </button>
  <button mat-raised-button color="accent" (click)="clearMyTasks()" style="color: black;">
    Clear Task
  </button>
  <span class="username" *ngIf="username">
    {{ username }}
  </span>
  <button mat-button color="warn" (click)="logout()" *ngIf="username">
  <mat-icon style="color: black;">logout</mat-icon>
</button>
</mat-toolbar>

<div *ngIf="showForm" class="task-form">
  <h3>Add New Task</h3>
  <form (ngSubmit)="addTask()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Title</mat-label>
      <input matInput [(ngModel)]="newTask.title" name="title" required>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput [(ngModel)]="newTask.description" name="description"></textarea>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Priority</mat-label>
      <mat-select [(ngModel)]="newTask.priority" name="priority">
        <mat-option value="Low" >Low</mat-option>
        <mat-option value="Medium" >Medium</mat-option>
        <mat-option value="High" >High</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Due Date</mat-label>
      <input matInput [matDatepicker]="picker" [(ngModel)]="newTask.dueDate" name="dueDate">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" style="color: black;">
      Save
    </button>
    <button mat-button type="button"  style="color: black;"(click)="cancel()">
      Cancel
    </button>
  </form>
</div>

<table mat-table [dataSource]="(pendingTasks$ | async) ?? []" class="mat-elevation-z8">

  <ng-container matColumnDef="completed">
    <th mat-header-cell *matHeaderCellDef> Done </th>
    <td mat-cell *matCellDef="let task">
      <mat-checkbox [checked]="task.completed" (change)="toggleCompleted(task)"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>Title</th>
    <td mat-cell *matCellDef="let task">{{ task.title }}</td>
  </ng-container>

  <ng-container matColumnDef="description" style="max-width: 20%;">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let task">{{ task.description }}</td>
  </ng-container>

  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef>Priority</th>
    <td mat-cell *matCellDef="let task">
      <span class="priority-badge" [ngClass]="task.priority">
      {{ task.priority}}
    </span>
    </td>
  </ng-container>

  <ng-container matColumnDef="dueDate">
    <th mat-header-cell *matHeaderCellDef>Due Date</th>
    <td mat-cell *matCellDef="let task">{{ task.dueDate | date }}</td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef>Actions</th>
    <td mat-cell *matCellDef="let task">
      <button mat-button color="warn" (click)="confirmDelete(task.id)">
        <mat-icon style="color: black;">delete</mat-icon>
      </button>
      <button mat-button color="warn" (click)="editTask(task)">
        <mat-icon style="color: black;">update</mat-icon>
      </button>
    </td>
  </ng-container>

 
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
  <td class="mat-cell no-tasks-cell" [attr.colspan]="displayedColumns.length">
    No tasks scheduled yet...
  </td>
</tr>
</table>
<div class="two-tables">

  <div class="table-box">
    <h3 class="table-title">Pending Tasks</h3>

    <table mat-table [dataSource]="(pendingTasks$ | async) ?? []" class="mat-elevation-z8 small-table">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Task Name</th>
        <td mat-cell *matCellDef="let task">{{ task.title }}</td>
      </ng-container>

      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef>Priority</th>
        <td mat-cell *matCellDef="let task">
          <span class="priority-badge" [ngClass]="task.priority">
            {{ task.priority }}
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['title','priority']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['title','priority'];"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-tasks-cell" colspan="2">No pending tasks...</td>
      </tr>

    </table>
  </div>

  <div class="table-box">
    <h3 class="table-title">Completed Tasks</h3>

    <table mat-table [dataSource]="(completedTasks$ | async) ?? []" class="mat-elevation-z8 small-table">

      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef>Task Name</th>
        <td mat-cell *matCellDef="let task">{{ task.title }}</td>
      </ng-container>

      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef>Priority</th>
        <td mat-cell *matCellDef="let task">
          <span class="priority-badge" [ngClass]="task.priority">
            {{ task.priority }}
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="['title','priority']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['title','priority'];"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell no-tasks-cell" colspan="2">No completed tasks yet...</td>
      </tr>

    </table>
  </div>

</div>
