:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #F8FAFC
}
.register-container {
  width: 350px;
  padding: 25px;
  background-color: #FFFFFF;
  border-radius: 10px;
  box-shadow: 0 8px 25px rgba(38, 37, 37, 0.15);
}

h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: 600;
}

input {
  width: 95%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  border: 1px solid #E2E8F0
}

button {
  width: 100%;
  margin-top: 18px;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: #898989;
  color: white;
  font-size: 16px;
  cursor: pointer;
}

button:disabled {
  background: #a3a3a3;
  cursor: not-allowed;
}

small {
  color: red;
  font-size: 12px;
}

.success {
  color: green;
  text-align: center;
  margin-top: 10px;
}

.error {
  color: red;
  text-align: center;
  margin-top: 10px;
}

.login-link {
  text-align: center;
  margin-top: 12px;
}
