<mat-toolbar class="navbar"> 
  <span class="project-name">{{'APP.TITLE' | translate}}</span>
  <span class="spacer"></span>
  <button mat-raised-button color="accent" [matMenuTriggerFor]="langMenu" class="button">
    {{'APP.LANGUAGE'|translate}}
  </button>
  <mat-menu #langMenu="matMenu" class="button">
    <button mat-menu-item (click)="changeLang('en')">English</button>
    <button mat-menu-item (click)="changeLang('ja')">Japnese</button>
    <button mat-menu-item (click)="changeLang('mr')">Marathi</button>
    <button mat-menu-item (click)="changeLang('es')">Spanish</button>
    <button mat-menu-item (click)="changeLang('it')">Italian</button>
    <button mat-menu-item (click)="changeLang('de')">German</button>
    <button mat-menu-item (click)="changeLang('fr')">French</button>
  </mat-menu>
  <button mat-raised-button color="accent" (click)="clearMyTasks()" class="button">
    {{ 'BUTTON.CLEAR_ALL' | translate }}
  </button>
   <button mat-icon-button (click)="themeService.toggleTheme()" class="theme-btn">
    <mat-icon>
      {{ themeService.isDarkMode() ? 'dark_mode' : 'light_mode' }}
    </mat-icon>
  </button>
  <span class="username" *ngIf="username">
    {{ username }}
  </span>
  <button mat-button class="logout-btn" (click)="logout()" *ngIf="username">
  <mat-icon class="icon-button">logout</mat-icon>
</button>
</mat-toolbar>
<div class="subnav">
  <a  routerLink="/tasks" routerLinkActive="active" >Current Tasks</a>
  <a  routerLink="/pending" routerLinkActive="active" >Pending Tasks</a>
  <a  routerLink="/completed" routerLinkActive="active" >Completed Tasks</a>
</div>
<h2 class="page-title">{{ 'APP.PENDING_TITLE' | translate }}</h2>

<table mat-table [dataSource]="pendingDataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="completed">
    <th mat-header-cell *matHeaderCellDef>{{ 'FORM.DONE' | translate }}</th>
    <td mat-cell *matCellDef="let task">
      <mat-checkbox [checked]="task.completed" (change)="toggleCompleted(task)"></mat-checkbox>
    </td>
  </ng-container>

  <ng-container matColumnDef="title">
    <th mat-header-cell *matHeaderCellDef>{{ 'FORM.TITLE' | translate }}</th>
    <td mat-cell *matCellDef="let task">{{ task.title }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>{{ 'FORM.DESCRIPTION' | translate }}</th>
    <td mat-cell *matCellDef="let task">{{ task.description }}</td>
  </ng-container>

  <ng-container matColumnDef="priority">
    <th mat-header-cell *matHeaderCellDef>{{ 'FORM.PRIORITY' | translate }}</th>
    <td mat-cell *matCellDef="let task">
      <span class="priority-badge" [ngClass]="task.priority">{{ task.priority }}</span>
    </td>
  </ng-container>

  <ng-container matColumnDef="dueDate">
    <th mat-header-cell *matHeaderCellDef>{{ 'FORM.DUE_DATE' | translate }}</th>
    <td mat-cell *matCellDef="let task">{{ task.dueDate | date }}</td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  <tr class="mat-row" *matNoDataRow>
    <td class="mat-cell no-tasks-cell" [attr.colspan]="displayedColumns.length">
      {{ 'TABLE.NO_PENDING_TASKS' | translate }}
    </td>
  </tr>
</table>
<mat-paginator
  [pageSizeOptions]="[5, 10, 20]"
  [pageSize]="5"
  showFirstLastButtons>
</mat-paginator>
