.navbar {
  display: flex;
  align-items: center;
  padding: 0 16px;
  background-color: var(--navbar-bg);
  transition: background 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 1000000;
}

.project-name {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color:  var(--navbar-text);
}

.spacer {
  flex: 1;
}

.username {
  font-size: 18px;
  margin-left: 16px;
  font-weight: 400;
  color:  var(--username-text);
}

.full-width {
  width: 100%;
}
.page-title {
  text-align: center;
  margin: 18px 0 8px;
  font-size: 20px;
  font-weight: 500;
  color: var(--title-text, var(--text));
}
mat-form-field {
  margin-bottom: 16px;
}

.task-table {
  width: 100%;
  margin: 24px auto;
  max-width: 90%;
}

th {
  font-weight: 600;
}

td, th {
  padding: 12px;
}

.table-wrapper {
  width: 90%;
  margin: 24px auto;
}

table.mat-mdc-table {
  /* width: 50%;           */
  position: relative;
  z-index: 1;
  margin: 24px auto; 
  border-radius: 12px;
  overflow: hidden; 
  background-color: var(--table-bg);
  box-shadow: 0px 4px 12px var(--table-shadow);
  transition: background 0.3s ease;
}
.mat-column-description {
  width: 50%;
  max-width: 50%;
}

.mat-mdc-header-cell {
  color: var(--header-text);
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 14px;
  text-align: center;
}

.mat-mdc-cell {
  padding: 14px;
  font-size: 14px;
  color: var(--cell-text);
  text-align: center;
}

.no-tasks-cell {
  text-align: start;
  padding: 25px !important;
  font-size: 16px;
  font-weight: 500;
  color: var(--no-task-text);
}

.mat-mdc-table{
  min-width:97%;
}

.priority-badge {
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 500;
  display: inline-block;
}

.priority-badge.Low {
  background: #e8f5e9;
  color: #2e7d32;
}

.priority-badge.Medium {
  background: #fff3e0;
  color: #ef6c00;
}

.priority-badge.High {
  background: #ffebee;
  color: #c62828;
}

.two-tables {
  width: 95%;
  margin: 25px auto;
  display: flex;
  gap: 20px;
  align-items: flex-start; 
}

.table-box {
  flex: 1;
}

.small-table {
  width: 100%;
}

.table-title {
  text-align: center;   
  color: var(--title-text);
  margin-bottom: 10px;
}
.logout-btn mat-icon {
  color: var(--navbar-text) !important;
}
.button {
  color: var(--btn-text)!important;
  margin-right: 10px;
  background-color: var(--btn-bg)!important;
}
button.mat-mdc-menu-item {
  color: var(--btn-text) !important;
  background-color: var(--btn-bg) !important;
}
.mat-mdc-menu-panel {
  background-color: var(--btn-bg) !important;
}

.subnav {
  margin-top: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-bottom: 2px solid var(--border);
  gap: 10px;
  padding: 10px 15px;

  position: sticky;
  top: 64px;
  z-index: 999999;
  background: var(--navbar-bg);
}

.subnav a {
 position: relative;
  z-index: 999999;
  pointer-events: auto;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  color: var(--navbar-text);
}
mat-paginator {
  display: flex;
  justify-content: center;
  background: var(--bg);
  color: var(--text);
  padding: 0px;
}

@media (max-width: 600px) {
  .navbar {
    flex-wrap: wrap;
    gap: 8px;
  }

  .project-name {
    font-size: 18px;
  }

  .task-form {
    margin: 16px;
    padding: 16px;
  }
}
